<?xml version="1.0" ?>
<robot name="tiago" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/tiago_omni_no-ee_schunk-ft.srdf.xacro" />
  <xacro:include filename="$(find tiago_moveit_config)/config/srdf/disable_collisions/custom_schunk-ft.srdf.xacro" />
    <disable_collisions link1="arm_tool_link" link2="base_antenna_left_link" reason="Never"/>
</robot>
